body
{
    /*background-color: #888888;*/
    background-color: white;
}

/** Position of various elements of the application.
 */
.container
{
    width: 30000px;
    top:   90px;
    left:  100px;
    position: relative;
    z-index: 0;
}

.miniatures
{
    width: 3000px;
    left: 100px;
    position: relative;
    z-index: 0;
}

.toolbar
{
    background: white;
    position: fixed;
    top: 90px;
    z-index: 2;
    padding: 10px;

   -moz-box-shadow: 0px 2px 2px #888;
   -webkit-box-shadow: 0px 2px 2px#888;
   box-shadow: 0px 2px 2px #888;
}

.commit
{
    position: relative;
    float:    left;
    margin:   10px;
}

.file_content
{
    display: block;
    border: 1px solid rgb(200,200,200);
    /*background: #EEEEEE;*/
}

.file_content .syntax_highlighted
{
    margin: 0px;
}

/** File content style, diff_deletion & diff_addition
 * are inlined into <pre> tags. */
pre
{
    font-family: Consolas, Inconsolata, Monospace;
    font-size: 0.8em;
}

.diff_deletion
{
    font-family: Consolas, Inconsolata, Monospace;
    background-color: #FFDDDD;
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: block;
}

.diff_deletion > .sub {
    background-color: #FF8888;
}

.diff_addition
{
    font-family: Consolas, Inconsolata, Monospace;
    background-color: #DDFFDD;
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: block;
}

.diff_addition > .sub {
    background-color: #88FF88;
}

.diff_deletion .diff_addition
{
    background-color: #DDDDFF;
}

.diff_addition .diff_deletion
{
    background-color: #FFFFDD;
}

/** The back to the past button, big blue */
.btn_returnpast 
{
   width:            20px;
   position:         relative;
   font-width:       bold;
   font-size:        2.0em;
   padding-left:     10px;
   padding-right:    10px;
   padding-top:      150px;
   padding-bottom:   150px;

   border-top:    1px solid #7bb7e6;
   border-left:   1px solid #7bb7e6;
   border-bottom: 1px solid #357BAF;
   border-right:  1px solid #357BAF;

   background: #419bdb;
   background: -webkit-gradient(linear, left top, left bottom, from(#539fda), to(#419bdb));
   background: -webkit-linear-gradient(top, #539fda, #419bdb);
   background: -moz-linear-gradient(top, #539fda, #419bdb);
   background: -ms-linear-gradient(top, #539fda, #419bdb);
   background: -o-linear-gradient(top, #539fda, #419bdb);
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   /*-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;*/
   /*-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;*/
   /*box-shadow: rgba(0,0,0,1) 0 1px 0;*/
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #e1ffe0;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
}

.btn_returnpast:hover 
{
   border-top-color: #3e8abd;
   background: #3e8abd;
   color: #ffffff;
}

.btn_returnpast:active 
{
   border-top-color: #357aaf;
   background: #357aaf;
}

.btn_toggleview 
{
   width:            20px;
   position:         relative;
   font-width:       bold;
   font-size:        1.7em;
   padding-left:     10px;
   padding-right:    10px;
   padding-top:      10px;
   padding-bottom:   10px;

   border-top:    1px solid #7bb7e6;
   border-left:   1px solid #7bb7e6;
   border-bottom: 1px solid #357BAF;
   border-right:  1px solid #357BAF;

   background: #419bdb;
   background: -webkit-gradient(linear, left top, left bottom, from(#539fda), to(#419bdb));
   background: -webkit-linear-gradient(top, #539fda, #419bdb);
   background: -moz-linear-gradient(top, #539fda, #419bdb);
   background: -ms-linear-gradient(top, #539fda, #419bdb);
   background: -o-linear-gradient(top, #539fda, #419bdb);
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   /*-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;*/
   /*-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;*/
   /*box-shadow: rgba(0,0,0,1) 0 1px 0;*/
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #e1ffe0;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
}

.btn_toggleview:hover 
{
   border-top-color: #3e8abd;
   background: #3e8abd;
   color: #ffffff;
}

.btn_toggleview:active 
{
   border-top-color: #357aaf;
   background: #357aaf;
}

.toolbar div textarea
{
    width: 15px;
    height: 10px;
    font-size: 9px;
    resize: none;
}

.toolbar div button
{
    padding: 0px;
    width:  12px;
    height: 12px;
    font-size: 8px;
}

.toolbar div div
{
    width: 13px;
    display: inline-block;
}

.toolbar div .label
{
    font-size: 9px;
    padding-bottom: 0px;
}

.commitinfo
{
    border: 1px solid #cccccc;
    margin-bottom: 10px;

    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.commitmsg
{
    display:    block;
    padding-bottom: 0.3em;

    /*background: #E6F1F6;*/
    font-family: Helvetica,Arial,freesans,sans-serif;

    /* Navigateurs récents */
    background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5),
                                    to(#e2e2e2));
    background: -webkit-linear-gradient(top, #f5f5f5, #e2e2e2);
    background: -moz-linear-gradient(top, #f5f5f5, #e2e2e2); background: -o-linear-gradient(top, #f5f5f5, #e2e2e2);
    background: linear-gradient(top, #f5f5f5, #e2e2e2);
}

.commitmsg hr
{
    width: 100%;
    border: 1px solid #999999;
    margin: 0px;
}

.commitmsg h4
{
    font-weight: bold;
    margin: 0.7em
}

.commitmsg .id
{
    color:     #666666;
    font-size: 0.75em;
}

.commitmsg .time
{
    position: absolute;
    right: 0;
}

.commit_list
{
    height: 20px;
    display: block;
    padding-top: 0.5em;
}

.commitinfo > span.more_info {
    cursor: pointer;
    background: black;
    color: white;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 2px;
    margin: 2px 2px 2px 2px;
}

/* Show commit list delta */
.delta_commit_circle 
{
    cursor: pointer;

    float: left;
    margin-left: 5px;
    margin-right: 7px;

    display: block;
    width: 14px;
    height: 14px;
    background: #333;
    border-radius: 5px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}

.delta_commit_circle .author:before {
    content: "Author : ";
}

.delta_commit_circle .date:before {
    content: "Date : ";
}

.ellipsis
{
    float: left;
}

.horizontal_toolbar
{
   /*padding-left: 100px;*/
   height: 92px;
   z-index: 1;
   background: white;
   position: fixed;

   padding-left: 10px;
   padding-right: 70px;

   -moz-box-shadow: 0 0 2px #888;
   -webkit-box-shadow: 0 0 2px#888;
   box-shadow: 0 0 2px #888;
}

.message_carret
{
    background-color: orange;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}

.legend table
{
    margin: 0px;
}

.legend td > div
{
    border: 1px solid gray;
}

/* ================================================ */
/* Tooltip rules                                    */
/* ================================================ */
.ellipsis div, .delta_commit_circle > div {
    display: none;
}

.delta_commit_circle:hover {
    background: #336;
    z-index: 500;
}

.ellipsis:hover > div, .delta_commit_circle:hover > div {
    font-style: normal;
    display:    block;
    position:   absolute;
    top:        80px;
    left:       -10px;
    padding:    5px;
    color:      #000;
    width:      auto;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffee),
                                    to(#ddddaa));
    background: -webkit-linear-gradient(top, #ffffee, #ddddaa);
    background: -moz-linear-gradient(top, #ffffee, #ddddaa); background: -o-linear-gradient(top, #ffffee, #ddddaa);
    background: linear-gradient(top, #ffffee, #ddddaa);

   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;

    border: 1px solid #777777;
}

/* ================================================ */
/* Breadcrumb                                       */
/* ================================================ */
#breadcrumb {
   border: 1px solid gray;

   -webkit-border-radius: 2px;
   -moz-border-radius: 2px;
   border-radius: 2px;
   padding-right: 3px;
   padding-bottom: 7px;
}

.breadcrumb_elem a {
    cursor: pointer;
}

.breadcrumb_elem > span {
    font-weight: bold;
    font-size:  17px;
}

/* ================================================ */
/* Tree presentation                                */
/* ================================================ */
.show_tree_btn {
   cursor: pointer;
}

.commit_tree {
    margin-right: 5px;
}

.tree_node {
    position:        relative;
    margin-left:     15px;
    cursor:          pointer;
}

.tree_node > .node_name {
    border:   1px solid gray;

    padding: 5px 5px 5px 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.tree_neutral {
    position:        relative;
    margin-left:     15px;
    border:   1px solid gray;

    padding: 5px 5px 5px 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.tree_neutral > .commit_diff_symbol:before {
    content: "â—";
}

.tree_modification {
    position:        relative;
    margin-left:     15px;

    border:   1px solid #AAAAFF;
    background-color: #EEEEFF;

    padding: 5px 5px 5px 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.tree_modification > .commit_diff_symbol:before {
    content: "~";
}

.tree_addition {
    position:        relative;
    margin-left:     15px;

    border: 1px solid green;
    background-color: #AAFFAA;

    padding: 5px 5px 5px 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.tree_addition > .commit_diff_symbol:before {
    content: "+";
}

.tree_deletion {
    position:        relative;
    margin-left:     15px;

    border: 1px solid #FF7777;
    background-color: #FFAAAA;
    
    padding: 5px 5px 5px 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.tree_deletion > .commit_diff_symbol:before {
    content: "-";
}

/* ================================================ */
/* Commit detail rules                              */
/* ================================================ */
.file_modification {
    background-color: #FFFFFF;
    border: 1px solid #EEEEEE;
    padding: 7px;
    margin: 5px;
   -webkit-border-radius: 2px;
   -moz-border-radius: 2px;
   border-radius: 2px;
}

.file_modification > .commit_diff_symbol:before {
    content: "~";
}

.file_addition {
    background-color: #EEFFEE;
    border: 1px solid #DDEEDD;
    padding: 7px;
    margin: 5px;
   -webkit-border-radius: 2px;
   -moz-border-radius: 2px;
   border-radius: 2px;
}

.file_addition > .commit_diff_symbol:before {
    content: "+";
}

.file_deletion {
   background-color: #ffeeee;
   border: 1px solid #eedddd;
   padding: 7px;
   margin: 5px;
   -webkit-border-radius: 2px;
   -moz-border-radius: 2px;
   border-radius: 2px;
}

.file_deletion > .commit_diff_symbol:before {
    content: "-";
}

.commit_diff_symbol {
   display: inline-block;
   font-size: 16px;
   font-weight: bold;
   border: 1px solid #7B90B5;

   cursor: pointer;

   width: 22px;
   height: 22px;
   text-align: center;
   margin-right: 20px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;

   color: white;

   background: #b8c6df; /* Old browsers */
   background: -moz-linear-gradient(top, #b8c6df 0%, #6d88b7 100%); /* FF3.6+ */
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b8c6df), color-stop(100%,#6d88b7)); /* Chrome,Safari4+ */
   background: -webkit-linear-gradient(top, #b8c6df 0%,#6d88b7 100%); /* Chrome10+,Safari5.1+ */
   background: -o-linear-gradient(top, #b8c6df 0%,#6d88b7 100%); /* Opera 11.10+ */
   background: -ms-linear-gradient(top, #b8c6df 0%,#6d88b7 100%); /* IE10+ */
   background: linear-gradient(top, #b8c6df 0%,#6d88b7 100%); /* W3C */
}

