body
{
    background-color: #2C2D33;
    color: white;
}

/** Position of various elements of the application.
 */
.container
{
    width: 30000px;
    top:   90px;
    left:  100px;
    position: relative;
    z-index: 0;
}

.toolbar
{
    background: #2C2D33;
    position: fixed;
    top: 90px;
    z-index: 2;
    padding: 10px;
}

.commit
{
    display: inline-block;
    position: relative;
    float:    left;
    margin:   10px;
}

.file_content
{
    display: block;
    border: 1px solid rgb(200,200,200);
}

.file_content .syntax_highlighted
{
    margin: 0px;
}

/** File content style, diff_deletion & diff_addition
 * are inlined into <pre> tags. */
pre
{
    font-family: Consolas, Inconsolata, Monospace;
    font-size: 0.8em;
}

.diff_deletion
{
    font-family: Consolas, Inconsolata, Monospace;
    background-color: #544;
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: block;
}

.diff_deletion .sub {
    background-color: #744;
}

.diff_addition
{
    font-family: Consolas, Inconsolata, Monospace;
    background-color: #454;
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: block;
}

.diff_addition .sub {
    background-color: #474;
}

.diff_deletion .diff_addition
{
    background-color: #445;
}

.diff_addition .diff_deletion
{
    background-color: #554;
}

/** The back to the past button, big blue */
.btn_returnpast
{
   width:            20px;
   position:         relative;
   font-width:       bold;
   font-size:        30px;
   padding-left:     10px;
   padding-right:    10px;
   padding-top:      150px;
   padding-bottom:   150px;

   border:  1px solid #AAAAAA;

   background: #6E717D;
   border-radius: 3px;
   color: #e1ffe0;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   vertical-align: middle;

   cursor: default;
}

.btn_returnpast:hover
{
   background: #777777;
   color: #ffffff;
}

.btn_returnpast:active
{
   background: #666666;
}

.btn_toggleview
{
   width:            20px;
   position:         relative;
   font-width:       bold;
   font-size:        20px;
   padding-left:     10px;
   padding-right:    10px;
   padding-top:      10px;
   padding-bottom:   10px;

   border:    1px solid #AAAAAA;
   background: #6E717D;

   color: #e1ffe0;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;

   cursor: default;
}

.btn_toggleview:hover
{
   background: #777777;
   color: #ffffff;
}

.btn_toggleview:active
{
   background: #666666;
}

.toolbar div textarea
{
    width: 15px;
    height: 10px;
    font-size: 9px;
    resize: none;
}

.toolbar div button
{
    padding: 0px;
    width:  12px;
    height: 12px;
    font-size: 8px;
}

.toolbar div div
{
    width: 13px;
    display: inline-block;
}

.toolbar div .label
{
    font-size: 9px;
    padding-bottom: 0px;
}

.commitinfo
{
    border: 1px solid #cccccc;
    margin-bottom: 10px;
}

.commitmsg
{
    display:    block;
    padding-bottom: 10px;
    font-family: Helvetica,Arial,freesans,sans-serif;
    background-color: #5F616E;
}

.commitmsg p
{
    max-width: 600px;
}

.commitmsg hr
{
    width: 100%;
/*    border: 1px solid #999999; */
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
}

.commitmsg h4
{
    font-weight: bold;
    margin: 15px;
    color: white;
}

.commitmsg .time
{
    position: relative;
    float: right;
    right: 0;
    font-weight: bold;
    padding: 2px;
    color: #bbb;
}

.commit_list
{
    height: 20px;
    display: block;
    padding-top: 0.5em;
}

.commitinfo > span.more_info {
    cursor: pointer;
    background: black;
    color: white;
    display: block;
    z-index: 0;

    text-align: center;
    width:		100%;
    position:	relative;
}

.commitinfo > span.more_info:hover {
	background-color: #AAAAAA;
}

/* Show commit list delta */
.delta_commit_circle
{
    cursor: pointer;

    float: left;
    margin-left: 5px;
    margin-right: 7px;

    display: block;
    width: 14px;
    height: 14px;
    background: #9699AD;
    border-radius: 7px;
}

.delta_commit_circle .author:before {
    content: "Author : ";
}

.delta_commit_circle .date:before {
    content: "Date : ";
}

.ellipsis
{
    float: left;
}

.horizontal_toolbar
{
   height: 92px;
   z-index: 1;
   background: #2C2D33;
   position: fixed;

   padding-left: 10px;
   padding-right: 70px;
}

.message_carret
{
    background-color: rgb(208,128,30);
    padding-left: 5px;
    padding-right: 5px;
}

.legend table
{
    margin: 0px;
}

.legend td > div
{
    border: 1px solid gray;
}

.global_compare_recipient_a,
.global_compare_recipient_b {
    display: inline-block;
    width: 295px;
    height: 30px;
    border: 1px solid white;
}

/* ================================================ */
/* Tooltip rules                                    */
/* ================================================ */
.ellipsis div, .delta_commit_circle > div {
    display: none;
	z-index: 1;
}

.delta_commit_circle:hover {
    background: #6C6F7D;
}

.ellipsis:hover > div,
.delta_commit_circle:hover > div {
    font-style: normal;
    display:    block;
    position:   absolute;
    top:        100px;
    left:       -5px;
    padding:    5px;
    color:      #fff;
    width:      auto;
	z-index: 1;
    background-color: #5C5F68;
    border: 1px solid #1D1E21;
}

/* ================================================ */
/* Breadcrumb                                       */
/* ================================================ */
#breadcrumb {
   border: 1px solid gray;

   padding-right: 3px;
   padding-bottom: 7px;
}

.breadcrumb_elem a {
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    color:  #c77;
}

.breadcrumb_elem a:hover {
    text-decoration: underlined;
}

.breadcrumb_elem > span {
    font-weight: bold;
    font-size:  17px;
}

/* ================================================ */
/* Tree presentation                                */
/* ================================================ */
.show_tree_btn {
   cursor: pointer;
}

.commit_tree {
    margin-right: 5px;
}

.tree_node {
    position:        relative;
    margin-left:     15px;
    cursor:          pointer;

    font-size: 14px;
    font-weight: bold;
    color: #AAA;
}

.tree_node > .node_name {
    border:   1px solid gray;

    padding: 5px 5px 5px 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.tree_neutral {
    position:        relative;
    margin-left:     15px;
    border:   1px solid gray;

    padding: 5px 5px 5px 5px;
    margin-top: 5px;
    margin-bottom: 5px;

    font-size: 14px;
    font-weight: bold;
    color: #AAA;
}

.tree_neutral > .commit_diff_symbol:before {
    content: "â—";
}

.blame_button {
    float: right;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 2px;
    border: 1px solid grey;

    color: black;
    background: #8c8c8c; /* Old browsers */
    background: -moz-linear-gradient(top,  #8c8c8c 0%, #686868 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8c8c8c), color-stop(100%,#686868)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #8c8c8c 0%,#686868 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #8c8c8c 0%,#686868 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #8c8c8c 0%,#686868 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #8c8c8c 0%,#686868 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8c8c8c', endColorstr='#686868',GradientType=0 ); /* IE6-9 */
}

.blame_button:hover {
    background: #9b9b9b; /* Old browsers */
    background: -moz-linear-gradient(top,  #9b9b9b 0%, #686868 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9b9b9b), color-stop(100%,#686868)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #9b9b9b 0%,#686868 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #9b9b9b 0%,#686868 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #9b9b9b 0%,#686868 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #9b9b9b 0%,#686868 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9b9b9b', endColorstr='#686868',GradientType=0 ); /* IE6-9 */
}

.blame_button:active {
    background: #686868; /* Old browsers */
    background: -moz-linear-gradient(top,  #686868 0%, #8c8c8c 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#686868), color-stop(100%,#8c8c8c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #686868 0%,#8c8c8c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #686868 0%,#8c8c8c 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #686868 0%,#8c8c8c 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #686868 0%,#8c8c8c 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#686868', endColorstr='#8c8c8c',GradientType=0 ); /* IE6-9 */
}

.tree_neutral .blame_button,
.tree_modification .blame_button,
.tree_addition .blame_button,
.tree_deletion .blame_button {
    visibility: hidden;
}

.tree_neutral:hover .blame_button,
.tree_modification:hover .blame_button {
    visibility: visible;
}

.tree_modification {
    position:        relative;
    margin-left:     15px;

    border:   1px solid #AAAAFF;
    background-color: #779;

    padding: 5px 5px 5px 5px;
    margin-top: 5px;
    margin-bottom: 5px;

    font-size: 14px;
    font-weight: bold;
    color: #DDD;
}

.tree_modification > .commit_diff_symbol:before {
    content: "~";
}

.tree_addition {
    position:        relative;
    margin-left:     15px;

    border: 1px solid green;
    background-color: #797;

    padding: 5px 5px 5px 5px;
    margin-top: 5px;
    margin-bottom: 5px;

    font-size: 14px;
    font-weight: bold;
    color: #DDD;
}

.tree_addition > .commit_diff_symbol:before {
    content: "+";
}

.tree_deletion {
    position:        relative;
    margin-left:     15px;

    border: 1px solid #FF7777;
    background-color: #977;

    padding: 5px 5px 5px 5px;
    margin-top: 5px;
    margin-bottom: 5px;

    font-size: 14px;
    font-weight: bold;
    color: #DDD;
}

.tree_deletion > .commit_diff_symbol:before {
    content: "-";
}

/* ================================================ */
/* Commit compac rules                              */
/* ================================================ */
.commit_compact {
    margin: 2px;
    width:  700px;
}

.commit_compact div {
    margin: 0px;
    padding: 1px;
    width: 700px;
}

.commit_compact .time {
    margin: 0px;
    padding: 0px;
    font-size: 11px;
}

.commit_compact h4 {
    font-size: 13px;
    padding: 1px;
    margin: 4px;
}

/* ================================================ */
/* Commit detail rules                              */
/* ================================================ */
.file_modification {
   border: 1px solid #999;
   padding: 7px;
   margin: 5px;
   border-radius: 2px;
}

.filename {
    font-size: 14px;
    font-weight: bold;
}

.file_modification > .commit_diff_symbol:before {
    content: "~";
}

.file_addition {
    background-color: #797;
    border: 1px solid #999;
    padding: 7px;
    margin: 5px;
    border-radius: 2px;
}

.file_addition > .commit_diff_symbol:before {
    content: "+";
}

.file_deletion {
   background-color: #977;
   border: 1px solid #999;
   padding: 7px;
   margin: 5px;
   border-radius: 2px;
}

.file_deletion > .commit_diff_symbol:before {
    content: "-";
}

.commit_diff_symbol {
   display: inline-block;
   font-size: 16px;
   font-weight: bold;

   cursor: pointer;

   width: 22px;
   height: 22px;
   text-align: center;
   margin-right: 20px;

   color: #989DAD;

   background-color: #1D1E21;
}

/* ================================================ */
/* Focus appearance                                 */
/* ================================================ */
.focused_commit {
    border: 2px solid red;
}

.focused_commit .focused_diff {
    border: 2px solid green;
}

/* ================================================ */
/* Branch comparison                                */
/* ================================================ */
.branch_list {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    background-color: #1C1D23;
    height: 100%;
    padding: 0px;
}

.branch_list > div {
    float: left;
}

.branch_list .list {
    margin-left: 7px;
    margin-right: 7px;
    margin-top: 10px;
}

.branch_list .toggler {
    color: white;
    background-color: black;
    height: 100%;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 100%;
    margin: 0px;
    vertical-align: middle;

    width: 20px;
}

.branch_list .toggler div {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);


    -ms-transform-origin:0% 100%; /* IE 9 */
    -webkit-transform-origin: 0% 100%; /* Safari and Chrome */
    -moz-transform-origin: 0% 100%; /* Firefox */
    -o-transform-origin:0% 100%; /* Opera */
    transform-origin: 0% 100%;

    width: 100px;
    margin-top: 100%;
}

.branch_list .toggler:hover {
    color: black;
    background-color: white;
}

.branch_list h4 {
    color: white;
}

.branch_switcher {
    width: 20px;
    height: 100%;
    border: 1px solid darkgray;
    display: inline-block;
    cursor: default;
}

.branch_switcher:hover {
    background: white;
    color: black;
}

.branch_switcher:active {
    background: darkgray;
}

.file_widget {
    cursor: default;

    border: 1px solid #3C3D43;
    border-radius: 4px;

    padding-left: 8px;
    padding-right: 8px;

    background: #2c2d33; /* Old browsers */
    background: -moz-linear-gradient(top,  #2c2d33 0%, #2c2d33 0%, #37383f 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2c2d33), color-stop(0%,#2c2d33), color-stop(100%,#37383f)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #2c2d33 0%,#2c2d33 0%,#37383f 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #2c2d33 0%,#2c2d33 0%,#37383f 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #2c2d33 0%,#2c2d33 0%,#37383f 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #2c2d33 0%,#2c2d33 0%,#37383f 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c2d33', endColorstr='#37383f',GradientType=0 ); /* IE6-9 */
}

.file_widget .path,
.file_widget .key {
    display: none;
}

.branch_widget {
    cursor: default;
    display: inline-block;

    color:     #AAA;
    font-size: 0.75em;
    padding: 2px;
    margin: 2px;

    border: 1px solid #7F818E;
    border-radius: 4px;
    margin: 2px;
    display: inline-block;

    background: #5f616e; /* Old browsers */
    background: -moz-linear-gradient(top,  #5f616e 0%, #5f616e 0%, #717382 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5f616e), color-stop(0%,#5f616e), color-stop(100%,#717382)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #5f616e 0%,#5f616e 0%,#717382 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #5f616e 0%,#5f616e 0%,#717382 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #5f616e 0%,#5f616e 0%,#717382 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #5f616e 0%,#5f616e 0%,#717382 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5f616e', endColorstr='#717382',GradientType=0 ); /* IE6-9 */
}

.branch_container {
    width: 600px;
    float: left;
}

.branch_container > .dropzone_a,
.branch_container > .dropzone_b {
    float: left;
    height: 60px;
    border: 1px solid white;
}

.dropzone_a:before {
    content: "From ";
}

.dropzone_b:before {
    content: "To ";
}

table.file_display {
    padding: 0px;
    margin: 0px;
}

table.file_display td {
    padding: 0px;
    margin: 0px;
}

table.file_display pre.line_number_column {
    margin: 0px;
    min-width: 27px;
}

/* Blame information */
.blame_ranges {
    vertical-align: top;
}

.blame_range {
    margin: 0px;
    display: block;
    cursor: pointer;
}

.blame_range:hover {
    margin: 0px;
    display: block;
    background-color: #777777;
}

.blame_range pre {
    margin: 0px;
    display: block;
    padding: 0px;
    outline: 1px solid #777777;
    margin-right: 5px;
}
