body
{
    background-color: #2C2D33;
    color: white;
}

/** Position of various elements of the application.
 */
.container
{
    width: 30000px;
    top:   90px;
    left:  100px;
    position: relative;
    z-index: 0;
}

.toolbar
{
    background: #2C2D33;
    position: fixed;
    top: 90px;
    z-index: 2;
    padding: 10px;
}

.commit
{
    position: relative;
    float:    left;
    margin:   10px;
}

.file_content
{
    display: block;
    border: 1px solid rgb(200,200,200);
}

.file_content .syntax_highlighted
{
    margin: 0px;
}

/** File content style, diff_deletion & diff_addition
 * are inlined into <pre> tags. */
pre
{
    font-family: Consolas, Inconsolata, Monospace;
    font-size: 0.8em;
}

.diff_deletion
{
    font-family: Consolas, Inconsolata, Monospace;
    background-color: #544;
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: block;
}

.diff_deletion .sub {
    background-color: #744;
}

.diff_addition
{
    font-family: Consolas, Inconsolata, Monospace;
    background-color: #454;
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: block;
}

.diff_addition .sub {
    background-color: #474;
}

.diff_deletion .diff_addition
{
    background-color: #445;
}

.diff_addition .diff_deletion
{
    background-color: #554;
}

/** The back to the past button, big blue */
.btn_returnpast 
{
   width:            20px;
   position:         relative;
   font-width:       bold;
   font-size:        30px;
   padding-left:     10px;
   padding-right:    10px;
   padding-top:      150px;
   padding-bottom:   150px;

   border:  1px solid #AAAAAA;

   background: #6E717D;
   border-radius: 3px;
   color: #e1ffe0;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   vertical-align: middle;
}

.btn_returnpast:hover 
{
   background: #777777;
   color: #ffffff;
}

.btn_returnpast:active 
{
   background: #666666;
}

.btn_toggleview 
{
   width:            20px;
   position:         relative;
   font-width:       bold;
   font-size:        20px;
   padding-left:     10px;
   padding-right:    10px;
   padding-top:      10px;
   padding-bottom:   10px;

   border:    1px solid #AAAAAA;
   background: #6E717D;

   color: #e1ffe0;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
}

.btn_toggleview:hover 
{
   background: #777777;
   color: #ffffff;
}

.btn_toggleview:active 
{
   background: #666666;
}

.toolbar div textarea
{
    width: 15px;
    height: 10px;
    font-size: 9px;
    resize: none;
}

.toolbar div button
{
    padding: 0px;
    width:  12px;
    height: 12px;
    font-size: 8px;
}

.toolbar div div
{
    width: 13px;
    display: inline-block;
}

.toolbar div .label
{
    font-size: 9px;
    padding-bottom: 0px;
}

.commitinfo
{
    border: 1px solid #cccccc;
    margin-bottom: 10px;
}

.commitmsg
{
    display:    block;
    padding-bottom: 10px;
    font-family: Helvetica,Arial,freesans,sans-serif;
    background-color: #5F616E;
}

.commitmsg p
{
    max-width: 600px;
}

.commitmsg hr
{
    width: 100%;
/*    border: 1px solid #999999; */
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
}

.commitmsg h4
{
    font-weight: bold;
    margin: 15px;
    color: white;
}

.commitmsg .id
{
    color:     #888;
    font-size: 0.75em;
    padding: 2px;
    margin: 2px;
}

.commitmsg .time
{
    position: relative;
    float: right;
    right: 0;
    font-weight: bold;
    padding: 2px;
    color: #bbb;
}

.commit_list
{
    height: 20px;
    display: block;
    padding-top: 0.5em;
}

.commitinfo > span.more_info {
    cursor: pointer;
    background: black;
    color: white;
    display: block;
    z-index: 0;

    text-align: center;
    width:		100%;
    position:	relative;
}

.commitinfo > span.more_info:hover {
	background-color: #AAAAAA;
}

/* Show commit list delta */
.delta_commit_circle 
{
    cursor: pointer;

    float: left;
    margin-left: 5px;
    margin-right: 7px;

    display: block;
    width: 14px;
    height: 14px;
    background: #9699AD;
    border-radius: 7px;
}

.delta_commit_circle .author:before {
    content: "Author : ";
}

.delta_commit_circle .date:before {
    content: "Date : ";
}

.ellipsis
{
    float: left;
}

.horizontal_toolbar
{
   height: 92px;
   z-index: 1;
   background: #2C2D33;
   position: fixed;

   padding-left: 10px;
   padding-right: 70px;
}

.message_carret
{
    background-color: rgb(208,128,30);
    padding-left: 5px;
    padding-right: 5px;
}

.legend table
{
    margin: 0px;
}

.legend td > div
{
    border: 1px solid gray;
}

/* ================================================ */
/* Tooltip rules                                    */
/* ================================================ */
.ellipsis div, .delta_commit_circle > div {
    display: none;
	z-index: 1;
}

.delta_commit_circle:hover {
    background: #6C6F7D;
}

.ellipsis:hover > div, .delta_commit_circle:hover > div {
    font-style: normal;
    display:    block;
    position:   absolute;
    top:        100px;
    left:       -5px;
    padding:    5px;
    color:      #fff;
    width:      auto;
	z-index: 1;
    background-color: #5C5F68;
    border: 1px solid #1D1E21;
}

/* ================================================ */
/* Breadcrumb                                       */
/* ================================================ */
#breadcrumb {
   border: 1px solid gray;

   padding-right: 3px;
   padding-bottom: 7px;
}

.breadcrumb_elem a {
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    color:  #c77;
}

.breadcrumb_elem a:hover {
    text-decoration: underlined;
}

.breadcrumb_elem > span {
    font-weight: bold;
    font-size:  17px;
}

/* ================================================ */
/* Tree presentation                                */
/* ================================================ */
.show_tree_btn {
   cursor: pointer;
}

.commit_tree {
    margin-right: 5px;
}

.tree_node {
    position:        relative;
    margin-left:     15px;
    cursor:          pointer;
    
    font-size: 14px;
    font-weight: bold;
    color: #AAA;
}

.tree_node > .node_name {
    border:   1px solid gray;

    padding: 5px 5px 5px 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.tree_neutral {
    position:        relative;
    margin-left:     15px;
    border:   1px solid gray;

    padding: 5px 5px 5px 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    
    font-size: 14px;
    font-weight: bold;
    color: #AAA;
}

.tree_neutral > .commit_diff_symbol:before {
    content: "â—";
}

.tree_modification {
    position:        relative;
    margin-left:     15px;

    border:   1px solid #AAAAFF;
    background-color: #779;

    padding: 5px 5px 5px 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    
    font-size: 14px;
    font-weight: bold;
    color: #DDD;
}

.tree_modification > .commit_diff_symbol:before {
    content: "~";
}

.tree_addition {
    position:        relative;
    margin-left:     15px;

    border: 1px solid green;
    background-color: #797;

    padding: 5px 5px 5px 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    
    font-size: 14px;
    font-weight: bold;
    color: #DDD;
}

.tree_addition > .commit_diff_symbol:before {
    content: "+";
}

.tree_deletion {
    position:        relative;
    margin-left:     15px;

    border: 1px solid #FF7777;
    background-color: #977;
    
    padding: 5px 5px 5px 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    
    font-size: 14px;
    font-weight: bold;
    color: #DDD;
}

.tree_deletion > .commit_diff_symbol:before {
    content: "-";
}

/* ================================================ */
/* Commit compac rules                              */
/* ================================================ */
.commit_compact {
    margin: 2px;
    width:  700px;
}

.commit_compact div {
    margin: 0px;
    padding: 1px;
    width: 700px;
}

.commit_compact .time {
    margin: 0px;
    padding: 0px;
    font-size: 11px;
}

.commit_compact h4 {
    font-size: 13px;
    padding: 1px;
    margin: 4px;
}

/* ================================================ */
/* Commit detail rules                              */
/* ================================================ */
.file_modification {
   border: 1px solid #999;
   padding: 7px;
   margin: 5px;
   border-radius: 2px;
}

.filename {
    font-size: 14px;
    font-weight: bold;
}

.file_modification > .commit_diff_symbol:before {
    content: "~";
}

.file_addition {
    background-color: #797;
    border: 1px solid #999;
    padding: 7px;
    margin: 5px;
    border-radius: 2px;
}

.file_addition > .commit_diff_symbol:before {
    content: "+";
}

.file_deletion {
   background-color: #977;
   border: 1px solid #999;
   padding: 7px;
   margin: 5px;
   border-radius: 2px;
}

.file_deletion > .commit_diff_symbol:before {
    content: "-";
}

.commit_diff_symbol {
   display: inline-block;
   font-size: 16px;
   font-weight: bold;

   cursor: pointer;

   width: 22px;
   height: 22px;
   text-align: center;
   margin-right: 20px;

   color: #989DAD;

   background-color: #1D1E21;
}

/* ================================================ */
/* Branch comparison                                */
/* ================================================ */
.branch_list {
    width: 150px;
    float: left;
}

.branch_list h4 {
    color: white;
}

.branch_widget {
    padding: 3px;
    border: 1px solid white;
    width: 100px;
    background: #777777;
    margin: 2px;
}

.branch_container {
    width: 600px;
    float: left;
}

.branch_container > div {
    width: 200px;
    height: 60px;
    border: 1px solid white;
}

table {
    padding: 0px;
    margin: 0px;
}

td {
    padding: 0px;
    margin: 0px;
}
