pre.syntax_highlighted {
    color #fdf6e3;
}

.syntax_loop {
    color: #859900;
}

.syntax_conditional {
    color: #859900;
}

.syntax_keyword {
    color: #859900;
}

.syntax_number {
    color: #2aa198;
}

.syntax_statement {
    color: #859900;
}

.syntax_preproc {
    color: #cb4b16;
}

.syntax_identifier {
    color: #268bd2;
}

.syntax_bool {
    color: #2aa198;
}

.syntax_constant {
    color: #2aa198;
}

.syntax_string {
    color: #2aa198;
}

.syntax_comment {
    color: #586e75;
}

