.syntax_highlighted {
    color: #586e75;
    background: #fdf6e3;
}

.syntax_comment {
    color: #839496;
}

.syntax_repeat {
    color: #859900;
}

.syntax_conditional {
    color: #859900;
}

.syntax_keyword {
    color: #859900;
}

.syntax_number {
    color: #2aa198;
}

.syntax_statement {
    color: #859900;
}

.syntax_preproc {
    color: #cb4b16;
}

.syntax_identifier {
    color: #268bd2;
}

.syntax_bool {
    color: #2aa198;
}

.syntax_constant {
    color: #2aa198;
}

.syntax_string {
    color: #2aa198;
}

.syntax_type {
    color: #b58900;
}

.syntax_storage_class {
    color: #b58900;
}

.syntax_structure {
    color: #b58900;
}

.syntax_label {
    color: #859900;
}

.syntax_operator {
    color: #859900;
}

.syntax_line_number
{
    width: 25px;
    display: inline-block;
    background-color: #EEE8D5;
    color:            #93A1A1;
    margin-right: 5px;
}

