*
{ 
    font-family: sans-serif;
}

.container
{
    width: 3000px;
}

.commit
{
    position: relative;
    float:    left;
    margin:   10px;
}

.file_content
{
    border: 1px solid rgb(200,200,200);
}

/** File content style, diff_deletion & diff_addition
 * are inlined into <pre> tags. */
pre
{
    font-family: Consolas, Inconsolata, Monospace;
    font-size: 0.8em;
}

.diff_deletion
{
    white-space: pre;
    font-family: Consolas, Inconsolata, Monospace;
    background-color: #FFDDDD;
}

.diff_addition
{
    white-space: pref;
    font-family: Consolas, Inconsolata, Monospace;
    background-color: #DDFFDD;
}

/** The back to the past button, big blue */
.returnpast 
{
   position:         relative;
   float:            left;
   font-width:       bold;
   font-size:        2.0em;
   padding-left:     10px;
   padding-right:    10px;
   padding-top:      300px;
   padding-bottom:   300px;

   border-top:    1px solid #7bb7e6;
   border-left:   1px solid #7bb7e6;
   border-bottom: 1px solid #357BAF;
   border-right:  1px solid #357BAF;

   background: #419bdb;
   background: -webkit-gradient(linear, left top, left bottom, from(#539fda), to(#419bdb));
   background: -webkit-linear-gradient(top, #539fda, #419bdb);
   background: -moz-linear-gradient(top, #539fda, #419bdb);
   background: -ms-linear-gradient(top, #539fda, #419bdb);
   background: -o-linear-gradient(top, #539fda, #419bdb);
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   /*-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;*/
   /*-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;*/
   /*box-shadow: rgba(0,0,0,1) 0 1px 0;*/
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #e1ffe0;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
}

.returnpast:hover 
{
   border-top-color: #3e8abd;
   background: #3e8abd;
   color: #ffffff;
}

.returnpast:active 
{
   border-top-color: #357aaf;
   background: #357aaf;
}

.commitmsg
{
    width:      350px;
    background: #E6F1F6;
    font-size:  12px;
    font-family: Helvetica,Arial,freesans,sans-serif;
}

